.list_carousel {
  padding: 0;
  width: auto;
  position: relative;
  width: auto;
}
.list_carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.caroufredsel_wrapper{
  cursor: auto !important;
}
.list_carousel li {
  padding: 0 10px;
  margin: 0;
  display: block;
  float: left;
  min-width: 50px;
  min-height: 162px;
}
.clearfix {
  float: none;
  clear: both;
}

/*Navigation*/

.caroufredsel_prev,
.caroufredsel_next{
  position: absolute;
  top: 50%;
  display: block;

  height: 20px;
  width: 20px;
  margin: -10px 0 0 0;
  background: #000;
  line-height: 20px;
  text-align: center;
  color:#fff;
}

.caroufredsel_prev:hover,
.caroufredsel_next:hover{
  background: #fff;
  color:#000;
}

.caroufredsel_prev span,
.caroufredsel_next span{
  display: block;
  cursor: pointer;
}

.caroufredsel_prev{
  left:0;
}

.caroufredsel_next{
  right:0;
}

/*Pagination*/

.caroufredsel_pagination{
  text-align: center;
}

.caroufredsel_pagination a{
  display: inline-block;
  padding: 0 0.5em;
}
